<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <!-- META TAGS -->
  <title>wenxyn's Blog</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- CSS FILES -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/fontawesome.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/featherlight.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/slick.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>