<html lang="en-US" xmlns:th="http://www.thymeleaf.org">

<div class="jsfile" id="jsfile" th:fragment="jsfile">
  <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/salvattore.min.js}"></script>
  <script th:src="@{/js/panel.js}"></script>
  <script th:src="@{/js/reading-position-indicator.js}"></script>
  <script th:src="@{/js/rrssb.min.js}"></script>
  <script th:src="@{/js/featherlight.js}"></script>
  <script th:src="@{/js/custom.js}"></script>
  <script th:src="@{/js/slick.min.js}"> </script>>

</div>