<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" th:title="错误页面">
<div th:replace="common/head::head"></div>

<body>
<!-- READING POSITION INDICATOR -->
<progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
</progress>
<!-- SITE WRAPPER -->
<div id="eskimo-site-wrapper">
  <!-- MAIN CONTAINER -->
  <main id="eskimo-main-container">
    <div class="container">
      <div th:replace="common/tools::slidebar"></div>
      <div th:replace="common/tools::top-icons"></div>
      <div class="col">
        <span>您访问的资源不存在！！！</span>
      </div>
    </div>
  </main>
  <!-- FOOTER -->
  <div th:replace="common/footer::footer"></div>
</div>
<div th:replace="common/footer::footer2-toTop"></div>
<div th:replace="common/pannel::pannel"></div>
<div th:replace="common/tools::full-screen-search"></div>
<!-- JS FILES -->
<div th:replace="common/jsfile::jsfile"></div>

</body>


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban.html -->
</html>